<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <!-- <meta name="viewport" content="width=device-width,">  -->
    
    <title>DOCUMENT</title>
     <link rel='stylesheet' type='text/css' href='static/style.css'>
     <!--bootstrap link-->
    </head>
<body>
    <div class="stud">
       

        
              
                <a href="/enternew" class='adduser'><h1>ADD New  student Record</h1></a><br><br><br>
                <a href='/list' class='adduser'><h1>Display Allstudents records</h1></a>

          
    </div>
</body>       
</html>








